/* overall page */


body {

  
  height: 10vh
  margin: 100px 100px;
  font-family: Arial, Helvetica, sans-serif;
}



body {
	margin: 0px 0px;
}


/* Style the topnav links */

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  position: relative;
  left: 60px;

}

/* Style the top navigation bar */

.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Change color on hover */

.topnav a:hover {
  
  background-color: #75a3a3;
  color: black;
}


/* Style the content */
.content {
  background-color: #75a3a3;
  padding: 10px;
  height: 625px; 
  	text-align: center;
	color: #f2f2f2;
}




/* Style the footer */
.footer {
  background-color: #333;
  padding: 10px;
  height: 200px;
  color: #f2f2f2
}




h1 {
	font-size: 100px;
	}
	
p1 {
	font-size: 50px;
	}
	
p2 {
	font-size: 50px;
	}
