 body {

  
  height: 500vh
  margin: 100px 100px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2; 
}

/* Style HEADER */

#header
		{
  text-align: center;
  font-size: 30px;
  color: #75a3a3;
  }

/* Style task 2 */

.task1 {
  background-color: #75a3a3;
  color: #333;
  font-size: 20px;

}

#task1head {
	 text-align: center;
	 font-size: 25px;
}


.task2 {
  background-color: #75a3a3;
  color: #333;
  font-size: 20px;

}

#task2head {
	 text-align: center;
	 font-size: 25px;
}

#taskbody {

	 font-size: 25px;
}


 
  table, th, td {
  border:1.5px solid #75a3a3;
  background-color: #ffffff;
}


	 
footer {
	font-family: Arial, Helvetica, sans-serif;
	 font-size: 20px;
}